{% include 'adminheader.html' %}

<section class="w3l-team" id="team">
    <div class="team-block py-5">
        <div class="container py-lg-5">
            <div class="title-content text-center mb-lg-3 mb-4">
                <h6 class="sub-title"> </h6>
                <h3 class="hny-title">Gym Management</h3>
            </div>


            <style>
                .invoice-box {
                    max-width: 800px;
                    margin: auto;
                    padding: 30px;
                    border: 1px solid #eee;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
                    font-size: 16px;
                    line-height: 24px;
                    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
                    color: #555;
                }

                .invoice-box table {
                    width: 100%;
                    line-height: inherit;
                    text-align: left;
                }

                .invoice-box table td {
                    padding: 5px;
                    vertical-align: top;
                }

                .invoice-box table tr td:nth-child(2) {
                    text-align: right;
                }

                .invoice-box table tr.top table td {
                    padding-bottom: 20px;
                }

                .invoice-box table tr.top table td.title {
                    font-size: 45px;
                    line-height: 45px;
                    color: #333;
                }

                .invoice-box table tr.information table td {
                    padding-bottom: 40px;
                }

                .invoice-box table tr.heading td {
                    background: #eee;
                    border-bottom: 1px solid #ddd;
                    font-weight: bold;
                }

                .invoice-box table tr.details td {
                    padding-bottom: 20px;
                }

                .invoice-box table tr.item td {
                    border-bottom: 1px solid #eee;
                }

                .invoice-box table tr.item.last td {
                    border-bottom: none;
                }

                .invoice-box table tr.total td:nth-child(2) {
                    border-top: 2px solid #eee;
                    font-weight: bold;
                }

                @media only screen and (max-width: 600px) {
                    .invoice-box table tr.top table td {
                        width: 100%;
                        display: block;
                        text-align: center;
                    }

                    .invoice-box table tr.information table td {
                        width: 100%;
                        display: block;
                        text-align: center;
                    }
                }

                /* RTL */
                .invoice-box.rtl {
                    direction: rtl;
                    font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
                }

                .invoice-box.rtl table {
                    text-align: right;
                }

                .invoice-box.rtl table tr td:nth-child(2) {
                    text-align: left;
                }
            </style>






            </head>



            

            <script>
              

                function printDiv() {
                    
                    var divContents = document.getElementById("div_print").innerHTML;
                    var a = window.open('', '', 'height=500, width=500');
                    a.document.write(divContents);
                    a.document.close();
                    a.print();
                }
                </script>
                
    
            <body onload="gen_bill()">
                <a href="" style="text-align: end;color: red;" onclick="printDiv()">Download</a>
                <div id="div_print">
                    <center><h1 style="text-align: center;">Invoice</h1></center>
                    <div class="invoice-box" style="background-color:#fff;">
                        <form action="" method="post">
                            <div class="row ">
                                
                                <table class="table" style="width: 800px;" >
                                    
                                    <tr>
                                        <th style="text-align: start;"><br>
                                            Invoice No. : {{ data['view'][0]['payment_id'] }} <br>
                                        Date : {{ data['view'][0]['date'] }}</th>
                                        <td colspan="4" style="text-align: end;">{{ data['view'][0]['first_name'] }} {{ data['view'][0]['last_name'] }}<br>
                                            {{data['view'][0]['place'] }} <br>
                                            {{ data['view'][0]['phone'] }} <br>
                                            {{ data['view'][0]['email'] }}</td>
                                    </tr>
                                   
                                    <tr style="padding-top: 30px;">
                                       
                                         <th style="text-align: start;"> Category</th>
                                        <th style="text-align: start;">Product</th>
                                        <th style="text-align: start;">Rate</th>
                                        <th style="text-align: start;">Quantity</th>
                                        <th style="text-align: start;">Total Amount</th>

                                    </tr>
                               
                                    {% for row in data['view'] %}
                                    <tr>
                                        <td style="text-align: start;">{{ row['category'] }}</td>
                                        <td style="text-align: start;">{{ row['product'] }}</td>
                                        <td style="text-align: start;">{{ row['rate'] }}/-</td>
                                        <td style="text-align: start;">{{ row['bquantity'] }}</td>
                                        <td style="text-align: start;">{{ row['amount'] }}/-</td>
                                        <td style="text-align: start;"></td>
                                        <td style="text-align: start;"></td>

                                    </tr>
                                    {% endfor %}
                            
                                  
                                    <tr>
                                        <br><td>place : Vellaramkunnu <br>
                                            Date : {{ data['view'][0]['date'] }}</td>

                                            <td colspan="2">
                                                <img src="https://www.shutterstock.com/image-vector/invoice-typographic-stamp-sign-badge-600w-1027820257.jpg"
                                                    style="width: 150px; max-width: 150px" width="150px" />
                                            </td>

                                        <td colspan="4" style="text-align: end;padding-top: 50px;"><h5>Total Amount : {{ data['view'][0]['total'] }}/-</h5>
                                            <td><input type="hidden" name="ttt" id="vtot" value=""> </td>
                                            <td colspan="4" style="text-align: end;padding-top: 50px;">
                                                <h5 id="h5"></h5>
                                            
                                    </tr>
                                   
                                </table>

                            </div>
                        </form>
                    </div>


                </div>

            </body>
        </div>
    </div>
</section>
<!-- //team -->
{% include 'footer.html' %}