{% include 'admin_header.html' %}
  <section class="classtime-section class-time-table spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <!-- <h2>Classtime Table</h2> -->
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-lg-12">
                    <div class="timetable-controls">
                        <ul>
                            <li class="active" data-tsfilter="all">all class</li>
                            <li data-tsfilter="crossfit">crossfit</li>
                            <li data-tsfilter="lunge">lunge ball</li>
                            <li data-tsfilter="ppsr">ppsr</li>
                            <li data-tsfilter="walls">walls</li>
                            <li data-tsfilter="candy">candy</li>
                        </ul>
                    </div>
                </div>
            </div> -->
            <div class="table">

		

		<table border="2" align="center" class="table" style="width: 1000px;color:white">
			<h3 align="center" style="color:white">BATCH DETAILS</h3>
			<br><br>
			<thead>
				<th>Batch Name</th>
				<th>Starting Time</th>
				<th>Ending Time</th>
				<th>Instructor</th>
				<!-- <th>Manage</th> -->
			</thead>
			<tbody>
				{% for row in data['batch_details']%}
				<tr>
					<td>{{ row['batch_name'] }}</td>
					<td>{{ row['start_time'] }}</td>
					<td>{{ row['end_time'] }}</td>
					<td>{{ row['gfirst_name'] }}</td>
					<!-- <td><a href="?action=delete&id={{ row['batch_id'] }}">Delete</a> -->
						<!-- <a href="?action=update&id={{ row['physician_id'] }}">Update</a></td> -->
					
				</tr>
				{% endfor %}
			</tbody>
		</table>

						</div>												
					</div>
				</div>
			</section>



{% include 'footer.html' %}