{% include 'admin_header.html' %}

    <section class="feature-section">
        
    </section>
    <!-- Feature Section End -->

    <!-- About Section Begin -->
    <section class="home-about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-text">
                        <h2>WELCOME TO GYM-WORLD</h2>
                        <p class="short-details">GYM-WORLD is a cutting-edge functional fitness system that can help
                            everyday men.</p>
                        <p class="long-details">Gymworld is the ultimate destination for fitness enthusiasts who want to take their workouts to the next level.
                            With a wide range of equipment and facilities, including weight machines, free weights, cardio machines, and more, Gymworld has everything you need to achieve your fitness goals.
                            Our experienced trainers are always on hand to provide guidance and support.</p>
                        <!-- <a href="#" class="primary-btn about-btn">Learn More</a> -->
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-img">
                        <img src="/static/img/home-about.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

{% include 'footer.html' %}