{% include 'employee_header.html' %}
<section class="feature-section">
       
    </section>

       <section class="home-about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-text">
                        <h2>WELCOME INSTRUCTOR</h2>
                        <p class="short-details">GYM-WORLD is a cutting-edge functional fitness system that can help
                            everyday men.</p>
                        <p class="long-details">1. Safety first: Make sure all equipment is functioning properly and that all clients know how to use it safely. <br>

                            2. Tailor workouts to individual needs: Different clients have different fitness levels and goals, so it's important to personalize workouts to meet their specific needs. <br>
                            
                            3. Encourage proper form: Proper form is crucial for preventing injuries and maximizing results. <br>
                            
                            4. Monitor clients: Keep an eye on clients to ensure they are using correct form and not pushing themselves too hard. <br>
                            
                            5. Be approachable: Clients should feel comfortable asking questions or seeking guidance from their gym instructor. <br>
                            
                            6. Stay up-to-date: Stay informed about new fitness trends, techniques, and equipment to keep workouts fresh and effective.</p>
                        <!-- <a href="#" class="primary-btn about-btn">Learn More</a> -->
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-img">
                        <img src="/static/img/home-about.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

{% include 'footer.html' %}