{% include 'physician_header.html' %}

<section class="feature-section">
        
    </section>

       <section class="home-about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">  
                    <div class="about-text">
                        <h2>WELCOME DIETITIAN</h2>
                        <p class="short-details">GYM-WORLD is a cutting-edge functional fitness system that can help
                            everyday men.</p>
                        <p class="long-details">1. Assess individual needs: Each client has unique nutritional needs based on their fitness goals, body composition, and health status. A dietitian should conduct an initial assessment to determine these needs. <br>

                            2. Educate clients: Provide clients with information about nutrition basics, such as macronutrients and portion sizes. Help them understand how to read food labels and make healthier choices. <br>
                            
                            3. Customize meal plans: Develop personalized meal plans that meet clients' nutritional needs and preferences. <br>
                            
                            4. Monitor progress: Regularly monitor clients' progress and adjust meal plans as needed to ensure they are meeting their goals. <br>
                            
                            5. Address food allergies and intolerances: Take into account any food allergies or intolerances when developing meal plans. <br>
                            
                            6. Promote hydration: Encourage clients to stay hydrated by drinking plenty of water throughout the day. <br>
                            
                            7. Emphasize whole foods: Encourage clients to eat a variety of whole foods, such as fruits, vegetables, lean proteins, and whole grains.</p>
                        <!-- <a href="#" class="primary-btn about-btn">Learn More</a> -->
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-img">
                        <img src="/static/img/home-about.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

{% include 'footer.html' %}